<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Space UI 🚀 | Avatar</title>
    <!-- font-awesome -->
    <script
      src="https://kit.fontawesome.com/c565ae8bc2.js"
      crossorigin="anonymous"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <!-- highlight.js cdn -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/base16/porple.min.css"
    />

    <!-- space-ui component cdn -->
    <link
      rel="stylesheet"
      href="https://space-ui-components.netlify.app/all-css/main.css"
    />

    <!-- space-ui documentation css -->
    <link rel="stylesheet" href="/app.css" />
  </head>
  <body>
    <div class="docs container p-2 m-auto">
      <!-- header starts-->
      <header class="header header-docs">
        <a class="link-brand mx-1" href="/index.html">Space-UI 🚀</a>

        <nav class="ml-auto">
          <ul>
            <li class="inline-block mx-1">
              <a class="link" href="../../index.html">
                <i class="fa-solid fa-house"></i>
              </a>
            </li>

            <li class="inline-block mx-1">
              <a
                class="link"
                href="https://github.com/prathameshpcodes/Space-ui-components"
                target="_blank"
              >
                <i class="fa-brands fa-github"></i>
              </a>
            </li>
          </ul>
        </nav>
      </header>
      <!-- header ends -->

      <!-- aside left starts -->
      <aside class="aside-left">
        <nav class="aside-container aside-left-container">
          <ul class="mb-3">
            <h3 class="my-1p5">Getting Started</h3>
            <li>
              <a href="/pages/getting-started/intro.html"> Introduction </a>
            </li>
          </ul>
          <li>
            <a
              
              href="/pages/getting-started/typography.html"
            >
              Typography
            </a>
          </li>

          <ul class="mb-3">
            <h3 class="my-1p5">Components</h3>
            <li>
              <a href="/pages/components/alert.html">Alert</a>
            </li>
            <li>
              <a class="link-active" href="/pages/components/avatar.html"
                >Avatar</a
              >
            </li>
            <li><a href="/pages/components/badge.html">Badge</a></li>
            <li><a href="/pages/components/button.html">Button</a></li>
            <li><a href="/pages/components/card.html">Card</a></li>
            <li><a href="/pages/components/image.html">Image</a></li>
            <li><a href="/pages/components/input.html">Input</a></li>
          </ul>
        </nav>
      </aside>
      <!-- aside left ends -->

      <!-- main doc starts -->
      <main class="main-docs">
        <h1 class="mb-3">Avatar</h1>
        <p class="main-text">
          The avatar component is typically used to display user profile
          pictures. Space-UI🚀 has different sizes of avatars available starting
          from extra-small to extra-large
        </p>

        <!-- same sized avatars starts  -->
        <section class="section-component my2" id="avatar-same">
          <h2 class="my-2">Same sized avatars</h2>
          <div class="component-container">
            <div class="flex justify-c-ctr alg-i-center gap-1">
              <img class="avatar" src="/assets/avatar-1.png" alt="" />
              <img class="avatar" src="/assets/avatar-2.png" alt="" />
              <img class="avatar" src="/assets/avatar-3.png" alt="" />
              <img class="avatar" src="/assets/avatar-5.png" alt="" />
            </div>

            <pre class="pre-code">
                  <code class="language-html">      
                    &lt;img  class="avatar" src="..." alt="..." />
                    &lt;img  class="avatar" src="..." alt="..." />        
                    &lt;img  class="avatar" src="..." alt="..." />
                    &lt;img  class="avatar" src="..." alt="..." />
                    &lt;img  class="avatar" src="..." alt="..." />

                  </code>
                </pre>
          </div>
        </section>
        <!-- same sized avatars ends  -->

        <!-- different sized avatars starts  -->
        <section class="section-component my2" id="avatar-different">
          <h2 class="my-2">Different sized avatars</h2>
          <div class="component-container">
            <div class="flex justify-c-ctr alg-i-center gap-1">
              <img class="avatar avatar-xs" src="/assets/avatar-1.png" alt="" />
              <img class="avatar avatar-s" src="/assets/avatar-2.png" alt="" />
              <img class="avatar avatar-md" src="/assets/avatar-3.png" alt="" />
              <img class="avatar avatar-l" src="/assets/avatar-5.png" alt="" />
            </div>

            <pre class="pre-code">
                  <code class="language-html">      
                    &lt;img  class="avatar avatar-xs" src="..." alt="..." />
                    &lt;img  class="avatar avatar-s" src="..." alt="..." />
                    &lt;img  class="avatar avatar-md" src="..." alt="..." />
                    &lt;img  class="avatar avatar-l" src="..." alt="..." />

                  </code>
                </pre>
          </div>
        </section>
        <!-- different sized avatars ends  -->

        <!-- Squared sized avatars start -->
        <section class="section-component my2" id="avatar-squared">
          <h2 class="my-2">Squared sized avatars</h2>
          <div class="component-container">
            <div class="flex justify-c-ctr alg-i-center gap-1">
              <img
                class="avatar avatar-square"
                src="/assets/avatar-1.png"
                alt=""
              />
              <img
                class="avatar avatar-square"
                src="/assets/avatar-2.png"
                alt=""
              />
              <img
                class="avatar avatar-square"
                src="/assets/avatar-3.png"
                alt=""
              />
              <img
                class="avatar avatar-square"
                src="/assets/avatar-5.png"
                alt=""
              />
            </div>

            <pre class="pre-code">
                  <code class="language-html">      
                    &lt;img  class="avatar avatar-squared" src="..." alt="..." />
                    &lt;img  class="avatar avatar-squared" src="..." alt="..." />
                    &lt;img  class="avatar avatar-squared" src="..." alt="..." />
                    &lt;img  class="avatar avatar-squared" src="..." alt="..." />

                  </code>
                </pre>
          </div>
        </section>
        <!-- squared sized avatars end -->
      </main>
      <!-- main doc ends -->

      <!-- aside right link starts -->

      <aside class="aside-right">
        <nav class="aside-container aside-right-container">
          <ul class="mb-2">
            <h3 class="my-1p5">On this Page</h3>
            <li><a href="#avatar-same">Same Sized Aavtar</a></li>
            <li><a href="#alert-different">Different Sized Aavtar</a></li>
            <li><a href="#avatar-squared">Squared Aavtar</a></li>
          </ul>
        </nav>
      </aside>

      <!-- aside right link starts -->
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
  </body>
</html>
