<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Space UI 🚀 | Input</title>
    <!-- font-awesome -->
    <script
      src="https://kit.fontawesome.com/c565ae8bc2.js"
      crossorigin="anonymous"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <!-- highlight.js cdn -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/base16/porple.min.css"
    />

    <!-- space-ui component cdn -->
    <link
      rel="stylesheet"
      href="https://space-ui-components.netlify.app/all-css/main.css"
    />

    <!-- space-ui documentation css -->
    <link rel="stylesheet" href="/app.css" />
  </head>
  <body>
    <div class="docs container p-2 m-auto">
      <!-- header starts-->
      <header class="header header-docs">
        <a class="link-brand mx-1" href="/index.html">Space-UI 🚀</a>

        <nav class="ml-auto">
          <ul>
            <li class="inline-block mx-1">
              <a class="link" href="../../index.html">
                <i class="fa-solid fa-house"></i>
              </a>
            </li>

            <li class="inline-block mx-1">
              <a
                class="link"
                href="https://github.com/prathameshpcodes/Space-ui-components"
                target="_blank"
              >
                <i class="fa-brands fa-github"></i>
              </a>
            </li>
          </ul>
        </nav>
      </header>
      <!-- header ends -->