<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Space UI 🚀 | Input</title>
    <!-- font-awesome -->
    <script
      src="https://kit.fontawesome.com/c565ae8bc2.js"
      crossorigin="anonymous"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <!-- highlight.js cdn -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/base16/porple.min.css"
    />

    <!-- space-ui component cdn -->
    <link
      rel="stylesheet"
      href="https://space-ui-components.netlify.app/all-css/main.css"
    />

    <!-- space-ui documentation css -->
    <link rel="stylesheet" href="/app.css" />
  </head>
  <body>
    <div class="docs container p-2 m-auto">
      <!-- header starts-->
      <header class="header header-docs">
        <a class="link-brand mx-1" href="/index.html">Space-UI 🚀</a>

        <nav class="ml-auto">
          <ul>
            <li class="inline-block mx-1">
              <a class="link" href="../../index.html">
                <i class="fa-solid fa-house"></i>
              </a>
            </li>

            <li class="inline-block mx-1">
              <a
                class="link"
                href="https://github.com/prathameshpcodes/Space-ui-components"
                target="_blank"
              >
                <i class="fa-brands fa-github"></i>
              </a>
            </li>
          </ul>
        </nav>
      </header>
      <!-- header ends -->
      <!-- aside left starts -->
      <aside class="aside-left">
        <nav class="aside-container aside-left-container">
          <ul class="mb-3">
            <h3 class="my-1p5">Getting Started</h3>
            <li>
              <a href="/pages/getting-started/intro.html"> Introduction </a>
            </li>
            <li>
              <a
                
                href="/pages/getting-started/typography.html"
              >
                Typography
              </a>
            </li>
          </ul>

          <ul class="mb-3">
            <h3 class="my-1p5">Components</h3>
            <li>
              <a href="/pages/components/alert.html">Alert</a>
            </li>
            <li><a href="/pages/components/avatar.html">Avatar</a></li>
            <li><a href="/pages/components/badge.html">Badge</a></li>
            <li><a href="/pages/components/button.html">Button</a></li>
            <li><a href="/pages/components/card.html">Card</a></li>
            <li><a href="/pages/components/image.html">Image</a></li>
            <li>
              <a class="link-active" href="/pages/components/input.html"
                >Input</a
              >
            </li>
          </ul>
        </nav>
      </aside>
      <!-- aside left ends -->
      <!-- main docs starts -->
      <main class="main-docs">
        <h1 class="mb-3">Input</h1>
        <p class="main-text">
          Input can be used to take input from your user. It can make your site
          more interactive.
        </p>

        <!--  text area starts  -->
        <section class="section-component my2" id="input-textarea">
          <h2 class="my-2">Text Area</h2>
          <div class="component-container">
            <div class="flex justify-c-ctr alg-i-ctr gap1">
              <div class="textarea-wrapper">
                <textarea
                  class="textarea"
                  placeholder="Enter Your Message"
                ></textarea>

                <button class="btn primary-btn-solid icon-btn-solid text-btn">
                  <i class="fa-solid fa-paper-plane"></i>
                  Send
                </button>
              </div>
            </div>

            <pre class="pre-code">
                  <code class="language-html">      
                    &lt;div class="textarea-wrapper">
                    &lt;textarea
                    class="textarea"
                    placeholder="Enter Your Message"
                    >
                    &lt;/textarea>

                    &lt;button class="btn primary-btn-solid icon-btn-solid text-btn">
                    &lt;i class="fa-solid fa-paper-plane">&lt;/i> 
                    Send
                    &lt;/button>
                    &lt;/div>
                  </code>
                </pre>
          </div>
        </section>
        <!-- text area starts  -->
