<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Space UI 🚀 | Rating</title>
    <!-- font-awesome -->
    <script
      src="https://kit.fontawesome.com/c565ae8bc2.js"
      crossorigin="anonymous"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <!-- highlight.js cdn -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/base16/porple.min.css"
    />

    <!-- space-ui component cdn -->
    <link
      rel="stylesheet"
      href="https://space-ui-components.netlify.app/all-css/main.css"
    />

    <!-- space-ui documentation css -->
    <link rel="stylesheet" href="/app.css" />
  </head>
  <body>
    <div class="docs container p-2 m-auto">
      <!-- header starts-->
      <header class="header header-docs">
        <a class="link-brand mx-1" href="/index.html">Space-UI 🚀</a>

        <nav class="ml-auto">
          <ul>
            <li class="inline-block mx-1">
              <a class="link" href="../../index.html">
                <i class="fa-solid fa-house"></i>
              </a>
            </li>

            <li class="inline-block mx-1">
              <a
                class="link"
                href="https://github.com/prathameshpcodes/Space-ui-components"
                target="_blank"
              >
                <i class="fa-brands fa-github"></i>
              </a>
            </li>
          </ul>
        </nav>
      </header>
      <!-- header ends -->
      <!-- aside left starts -->
      <aside class="aside-left">
        <nav class="aside-container aside-left-container">
          <ul class="mb-3">
            <h3 class="my-1p5">Getting Started</h3>
            <li>
              <a href="/pages/getting-started/intro.html"> Introduction </a>
            </li>
            <li>
              <a href="/pages/getting-started/typography.html"> Typography </a>
            </li>
          </ul>

          <ul class="mb-3">
            <h3 class="my-1p5">Components</h3>
            <li>
              <a href="/pages/components/alert.html">Alert</a>
            </li>
            <li><a href="/pages/components/avatar.html">Avatar</a></li>
            <li><a href="/pages/components/badge.html">Badge</a></li>
            <li><a href="/pages/components/button.html">Button</a></li>
            <li><a href="/pages/components/card.html">Card</a></li>
            <li><a href="/pages/components/image.html">Image</a></li>
            <li><a href="/pages/components/input.html">Input</a></li>
            <li><a href="/pages/components/list.html">List</a></li>
            <li><a href="/pages/components/modal.html">Modal</a></li>
            <li>
              <a class="link-active" href="/pages/components/rating.html"
                >Rating</a
              >
            </li>
          </ul>
        </nav>
      </aside>
      <!-- aside left ends -->
      <!-- main docs starts -->
      <main class="main-docs">
        <h1 class="mb-3">Rating</h1>
        <p class="main-text">
          Rating can be used to show ratings on the product, or it can also be
          used for taking ratings from the user.
        </p>

        <!--  Filled rating starts  -->
        <section class="section-component my2" id="rating-filled">
          <h2 class="my-2">Filled rating</h2>
          <div class="component-container">
            <div class="flex justify-c-ctr alg-i-ctr gap1">
              <span class="rating-star filled"> &#9733; </span>
              <span class="rating-star filled"> &#9733; </span>
              <span class="rating-star"> &#9733; </span>
              <span class="rating-star"> &#9733; </span>
              <span class="rating-star"> &#9733; </span>
            </div>

            <pre class="pre-code">
                    <code class="language-html">      
                      &lt;span class="rating-star filled"> &#9733;  &lt;/span>
                      &lt;span class="rating-star filled"> &#9733;  &lt;/span>
                      &lt;span class="rating-star "> &#9733;  &lt;/span>
                      &lt;span class="rating-star"> &#9733;  &lt;/span>
                      &lt;span class="rating-star"> &#9733;  &lt;/span>
                    </code>
                  </pre>
          </div>
        </section>
        <!-- Filled rating ends  -->

        <!-- hover rating starts -->
        <section class="section-component my2" id="rating-hover">
          <h2 class="my-2">Hover rating</h2>
          <div class="component-container">
            <div class="flex justify-c-ctr alg-i-ctr gap1">
              <fieldset class="ratings">
                <input type="radio" name="rating" id="star-5" /><label
                  for="star-5"
                >
                  &#9733;
                </label>
                <input type="radio" name="rating" id="star-4-n-half" /><label
                  for="star-4-n-half"
                  class="half-star"
                >
                  &#9733;
                </label>
                <input type="radio" name="rating" id="star-4" /><label
                  for="star-4"
                >
                  &#9733;
                </label>
                <input type="radio" name="rating" id="star-3-n-half" /><label
                  for="star-3-n-half"
                  class="half-star"
                >
                  &#9733;
                </label>
                <input type="radio" name="rating" id="star-3" /><label
                  for="star-3"
                >
                  &#9733;
                </label>
                <input type="radio" name="rating" id="star-2-n-half" /><label
                  for="star-2-n-half"
                  class="half-star"
                >
                  &#9733;
                </label>
                <input type="radio" name="rating" id="star-2" /><label
                  for="star-2"
                >
                  &#9733;
                </label>
                <input type="radio" name="rating" id="star-1-n-half" /><label
                  for="star-1-n-half"
                  class="half-star"
                >
                  &#9733;
                </label>
                <input type="radio" name="rating" id="star-1" /><label
                  for="star-1"
                >
                  &#9733;
                </label>
              </fieldset>
            </div>

            <pre class="pre-code">
                      <code class="language-html">      
                        &lt;fieldset class="ratings">
                        &lt;input type="radio" name="rating" id="star-5" />&lt;label for="star-5">
                          &#9733;
                        &lt;/label>
                        &lt;input type="radio" name="rating" id="star-4-n-half" />&lt;label
                          for="star-4-n-half"
                          class="half-star"
                        >
                          &#9733;
                        &lt;/label>
                        &lt;input type="radio" name="rating" id="star-4" />&lt;label for="star-4">
                          &#9733;
                        &lt;/label>
                        &lt;input type="radio" name="rating" id="star-3-n-half" />&lt;label
                          for="star-3-n-half"
                          class="half-star"
                        >
                          &#9733;
                        &lt;/label>
                        &lt;input type="radio" name="rating" id="star-3" />&lt;label for="star-3">
                          &#9733;
                        &lt;/label>
                        &lt;input type="radio" name="rating" id="star-2-n-half" />&lt&lt;label
                          for="star-2-n-half"
                          class="half-star"
                        >
                          &#9733;
                        &lt;/label>
                        &lt;input type="radio" name="rating" id="star-2" />&lt;label for="star-2">
                          &#9733;
                        &lt;/label>
                        &lt;input type="radio" name="rating" id="star-1-n-half" />&lt;label
                          for="star-1-n-half"
                          class="half-star"
                        >
                          &#9733;
                        &lt;/label>
                        &lt;input type="radio" name="rating" id="star-1" />&lt;label for="star-1">
                          &#9733;
                        &lt;/label>
                      &lt;/fieldset>
                      </code>
                    </pre>
          </div>
        </section>
        <!-- hover rating end -->
      </main>
      <!-- main doc ends -->

      <!-- aside right link starts -->

      <aside class="aside-right">
        <nav class="aside-container aside-right-container">
          <ul class="mb-2">
            <h3 class="my-1p5">On this Page</h3>
            <li><a href="#rating-filled">Filled Rating</a></li>
            <li><a href="#rating-hover">Hover Rating</a></li>
          </ul>
        </nav>
      </aside>

      <!-- aside right link starts -->
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
    <script src="https://space-ui-components.netlify.app/js/index.js"></script>
  </body>
</html>
