<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Space UI 🚀 | Tooltip</title>
    <!-- font-awesome -->
    <script
      src="https://kit.fontawesome.com/c565ae8bc2.js"
      crossorigin="anonymous"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <!-- highlight.js cdn -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/base16/porple.min.css"
    />

    <!-- space-ui component cdn -->
    <link
      rel="stylesheet"
      href="https://space-ui-components.netlify.app/all-css/main.css"
    />

    <!-- space-ui documentation css -->
    <link rel="stylesheet" href="/app.css" />
  </head>
  <body>
    <div class="docs container p-2 m-auto">
      <!-- header starts-->
      <header class="header header-docs">
        <a class="link-brand mx-1" href="/index.html">Space-UI 🚀</a>

        <nav class="ml-auto">
          <ul>
            <li class="inline-block mx-1">
              <a class="link" href="../../index.html">
                <i class="fa-solid fa-house"></i>
              </a>
            </li>

            <li class="inline-block mx-1">
              <a
                class="link"
                href="https://github.com/prathameshpcodes/Space-ui-components"
                target="_blank"
              >
                <i class="fa-brands fa-github"></i>
              </a>
            </li>
          </ul>
        </nav>
      </header>
      <!-- header ends -->
      <!-- aside left starts -->
      <aside class="aside-left">
        <nav class="aside-container aside-left-container">
          <ul class="mb-3">
            <h3 class="my-1p5">Getting Started</h3>
            <li>
              <a href="/pages/getting-started/intro.html"> Introduction </a>
            </li>
            <li>
              <a href="/pages/getting-started/typography.html"> Typography </a>
            </li>
          </ul>
          <ul class="mb-3">
            <h3 class="my-1p5">Layout</h3>
            <li>
                <a href="/pages/layout/css-grid.html"> CSS grid </a>
              </li>
          </ul>
          <ul class="mb-3">
            <h3 class="my-1p5">Components</h3>
            <li>
              <a href="/pages/components/alert.html">Alert</a>
            </li>
            <li><a href="/pages/components/avatar.html">Avatar</a></li>
            <li><a href="/pages/components/badge.html">Badge</a></li>
            <li><a href="/pages/components/button.html">Button</a></li>
            <li><a href="/pages/components/card.html">Card</a></li>
            <li><a href="/pages/components/image.html">Image</a></li>
            <li><a href="/pages/components/input.html">Input</a></li>
            <li><a href="/pages/components/list.html">List</a></li>
            <li><a href="/pages/components/modal.html">Modal</a></li>
            <li><a href="/pages/components/rating.html">Rating</a></li>
            <li><a href="/pages/components/toast.html">Toast</a></li>
            <li>
              <a class="link-active" href="/pages/components/tooltip.html"
                >Tooltip</a
              >
            </li>
          </ul>
        </nav>
      </aside>
      <!-- aside left ends -->
      <!-- main docs starts -->
      <main class="main-docs">
        <h1 class="mb-3">Tooltip</h1>
        <p class="main-text">
          Tooltip can be used to show user some information, when user hovers
          the pointer over an item, without clicking it, and a tooltip may
          appear—a small "hover box" with information about the item being
          hovered over.
        </p>

        <!--  Right Tooltip starts  -->
        <section class="section-component my2" id="tooltip-right">
          <h2 class="my-2">Right Tooltip</h2>
          <div class="component-container">
            <div class="flex justify-c-ctr alg-i-ctr gap1">
              <button class="card-icon-btn mx-0p5 tooltip">
                <i class="fas fa-heart m-auto"></i>
                <span class="tooltip-right tooltip-text"
                  >remove from wishlist</span
                >
              </button>

              <button class="card-icon-btn mx-0p5 tooltip">
                <i class="far fa-heart m-auto"></i>
                <span class="tooltip-right tooltip-text">add to wishlist</span>
              </button>
            </div>

            <pre class="pre-code">
                    <code class="language-html">      
                    &lt;&lt;button class="card-icon-btn mx-0p5 tooltip">
                        &lt;i class="fas fa-heart m-auto">&lt;/i>
                        &lt;span class="tooltip-right tooltip-text"
                        >remove from wishlist&lt;/span
                        >
                    &lt;/button>
        
                    &lt;button class="card-icon-btn mx-0p5 tooltip">
                        &lt;i class="far fa-heart m-auto">&lt;/i>
                        &lt;span class="tooltip-right tooltip-text">add to wishlist&lt;/span>
                    &lt;/button>
                    </code>
                  </pre>
          </div>
        </section>
        <!-- Right Tooltip ends  -->

        <!-- Left Tooltip starts -->
        <section class="section-component my2" id="tooltip-left">
          <h2 class="my-2">Left Tooltip</h2>
          <div class="component-container">
            <div class="flex justify-c-ctr alg-i-ctr gap1">
              <button class="card-icon-btn mx-0p5 tooltip">
                <i class="far fa-heart m-auto"></i>
                <span class="tooltip-left tooltip-text">add to wishlist</span>
              </button>

              <button class="card-icon-btn mx-0p5 tooltip">
                <i class="fas fa-heart m-auto"></i>
                <span class="tooltip-left tooltip-text"
                  >remove from wishlist</span
                >
              </button>
            </div>

            <pre class="pre-code">
                      <code class="language-html">      
                      &lt;button class="card-icon-btn mx-0p5 tooltip">
                        &lt;i class="far fa-heart m-auto">&lt;/i>
                        &lt;span class="tooltip-left tooltip-text">add to wishlist&lt;/span>
                      &lt;/button>
                  
                      &lt;button class="card-icon-btn mx-0p5 tooltip">
                        &lt;i class="fas fa-heart m-auto">&lt;/i>
                        &lt;span class="tooltip-left tooltip-text">remove from wishlist&lt;/span>
                      &lt;/button>
                      </code>
                    </pre>
          </div>
        </section>

        <!-- Left Tooltip end -->

      </main>
      <!-- main doc ends -->

      <!-- aside right link starts -->

      <aside class="aside-right">
        <nav class="aside-container aside-right-container">
          <ul class="mb-2">
            <h3 class="my-1p5">On this Page</h3>
            <li><a href="#tooltip-right">Right Tooltip</a></li>
            <li>
                <li><a href="#tooltip-left">Left Tooltip</a></li>
            </li>
          </ul>
        </nav>
      </aside>

      <!-- aside right link starts -->
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
    <script src="https://space-ui-components.netlify.app/js/index.js"></script>
  </body>
</html>
